$primaryColor : rgb(27, 27, 27);
$secondaryColor : rgb(209, 188, 0);
$primaryHover : rgb(46, 46, 46);
$secondaryhover : rgb(236, 213, 3);
$textPrimary : rgb(231, 227, 227);
$textSecondary : rgb(19, 19, 19);

@mixin fullpage {
  width: 100vw;
  min-height: 100vh;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin absLTop {
  position: absolute;
  top: 0;
  left: 0;
}
@mixin fill {
  width: 100%;
  min-height: 100%;
}

header{
  @include fullpage();
  min-height: 120vh;
}
.navRow{
  background: $primaryColor;
  height: 50px;
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: 100;
  .logo{
    a{
      font-size: 30px;
      text-decoration: none;
      color: $secondaryColor;
      img{
        height: 40px;
        padding-top: 0;
      }
    }
  }
  nav{
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul{
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 600px;
      float: right;
      li{
        list-style: none;
        a{
          text-decoration: none;
          color: $textPrimary;
          &:hover{
            color: $secondaryColor;
            border: none;
            border-bottom: solid 2px $secondaryColor;
          }
        }
      }
    }
  }
}
.nav-active{
  transform: translateX(0);
}
.berger{
  padding-top: 10px;
  display: none;
  .line{
    width: 20px;
    height: 3px;
    background: $textPrimary;
    margin: 5px;
  }
}
.verticalText{
  min-height: 80vh;
  span{
    position: absolute;
    left: 0;
    bottom: 0;
    writing-mode: vertical-lr;
    rotate: 180deg;
    font-size: 25px;
    color: $textPrimary;
  }
}
.headerBodyRowRight{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  span{
    font-size: 60px;
    font-weight: bolder;
    color: $textPrimary;
  }
}
.headerBack{
  @include fullpage();
  @include absLTop();
  min-height: 120vh;
  background: url(../Images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}
.top{
  @include fullpage();
  background-color: $textPrimary;
  position: relative;
  .sectionOneTop{
    min-height: 60vh;
    .col-sm-3, .col-sm-4{
      min-height: 60vh;
      .overflw{
        @include absLTop();
        top: -20vh;
        min-height: 80vh;
        width: 100%;
        background: url(../Images/5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .col3Content{
      @include flexCenter();
      text-align: justify;
      background-color: white;
    }
    .col-sm-5{
      min-height: 60vh;
      background: $primaryColor;
      @include flexCenter();
      flex-direction: column;
      color: $textPrimary;
      a{
        height: 40px;
        background: $secondaryColor;
        padding: 5px 30px;
        border-radius: 5px;
        text-decoration: none;
        color: $textSecondary;
        font-weight: bolder;
        border: $secondaryhover;
        cursor: pointer;
        &:hover{
          background: $secondaryhover;
        }
      }
    }
  }
  .sectionOneBottom{
    min-height: 40vh;
    .col-sm-3{
      @include flexCenter();
      flex-direction: column;
      text-align: justify;
    }
    .active{
      background: $secondaryColor;
      i{
        color: $textPrimary;
      }
    }
    .col-sm-3:hover{
      @extend .active;
    }
  }
}
.middle2Body{
  background: $textPrimary;
  background-color: $textPrimary;
  position: relative;
  .one{
    background-color: $textPrimary;
    position: relative;
    min-height: 40vh;
    @include flexCenter();
    text-align: center;
    span{
      font-size: 40px;
      font-weight: bolder;
    }
  }
  .two{
    min-height: 60vh;
    background-color: $textPrimary;
    position: relative;
    .col-sm-2{
      @include flexCenter();
      margin-top: 20px;
      margin-bottom: 20px;
      min-height: 60vh;
    }
  }
}

.i1, .i2, .i3, .i4, .i5{
  position: absolute;
  cursor: pointer;
  width: 90%;
  min-height: 80%;
  min-height: 60vh;
}
.i1front, .i1back,
.i2front, .i2back,
.i3front, .i3back,
.i4front, .i4back,
.i5front, .i5back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
  @include flexCenter();
  flex-direction: column;
  padding: 20px 10px;
  text-align: justify;
  background: $primaryColor;
  color: $textPrimary;
}
.i1front{
  background: url(../Images/2.jpg);
  background-size: cover;
  background-position: center;
  transform:  rotateY(0deg);
}
.i2front{
  background: url(../Images/3.jpg);
  background-size: cover;
  background-position: center;
  transform:  rotateY(0deg);
}
.i3front{
  background: url(../Images/4.jpg);
  background-size: cover;
  background-position: center;
  transform:  rotateY(0deg);
}
.i4front{
  background: url(../Images/3.jpg);
  background-size: cover;
  background-position: center;
  transform:  rotateY(0deg);
}
.i5front{
  background: url(../Images/2.jpg);
  background-size: cover;
  background-position: center;
  transform:  rotateY(0deg);
}
.i1back, .i2back, .i3back, .i4back, .i5back{
  transform: rotateY(180deg);
}
.i1:hover .i1front{
  transform:  rotateY(-180deg);
}
.i2:hover .i2front{
  transform:  rotateY(-180deg);
}
.i3:hover .i3front{
  transform:  rotateY(-180deg);
}
.i4:hover .i4front{
  transform:  rotateY(-180deg);
}
.i5:hover .i5front{
  transform:  rotateY(-180deg);
}
.i1:hover .i1back{
  transform:  rotateY(0deg);
}
.i2:hover .i2back{
  transform:  rotateY(0deg);
}
.i3:hover .i3back{
  transform:  rotateY(0deg);
}
.i4:hover .i4back{
  transform:  rotateY(0deg);
}
.i5:hover .i5back{
  transform:  rotateY(0deg);
}
footer{
  @include fullpage();
  @include flexCenter();
  flex-direction: column;
  background: $primaryColor;
  color: $textPrimary;
  a{
    line-height: 40px;
    text-decoration: none;
    color: $textPrimary;
  }
}

@import "./mobile";